@font-face {
   font-family: 'BAHNSCHRIFT 1';
   font-display: swap;
   src: url('file:///C:/Users/exoth/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-18_141243/fonts/BAHNSCHRIFT%201/font.TTF');
}
